*{
  /*border: solid 1px red;*/
}
.consumablesScreen{
  display: flex;
  flex-direction: column;
  background-image: url("/assets/img/PortraiteBgrnd.svg");
  background-position: -9px -20px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 133px;
  height: 76px;
  margin: 3px 13px 62px;
  background-color: #e0e0e073;
  border-radius: 4px;
}

.imgConsumable{
}
button.addBtn {
  margin: 82px 2px 0px 2px;
}
span.cardBadge {
  position: absolute;
  top: 18px;
  display: flex;
  left: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_or_left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Line{
  display: flex;
  justify-content: space-between;
}
.Bottom_or_Left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blackBox{
  display: flex;
justify-content: center;
  align-items: center;
  color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: black;
}

@media screen and (orientation:landscape)  {
  .consumablesScreen {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    background-image: url(/assets/img/LandscapeBgrnd.svg);
    background-repeat: no-repeat;
    background-position: 49px 57px;
  }
  .container{
    flex-direction: row;
  }
  .top_or_left{
    flex-direction: column;
    height: 250px;
  }

  .down_or_right{
    height: 250px;
    justify-content: space-between;
  }
  .Bottom_or_Left {
    flex-direction: column-reverse;
    margin-right: -14px;
  }
  .blackBox{
    width: 50px;
    height: 150px;
  }
}

