.App{
  padding: 5px;
  width: 300px;
  height: 538px;
  margin: 5px auto;
  background-image: url("/assets/img/coffeeBackGround.png");
  background-size: cover;
}
.AppTitle{
  color: #fff;
  text-align: center;
  background-color: grey;
  height: min-content;
  margin: -5px -5px 5px -5px;
  padding: 5px;
}

button.MuiButton-contained {
  margin-top: 2px;
}
@media screen and (orientation:landscape)  {
  .App{
    width: 538px;
    height: 300px;
    margin: 5px auto;
    background-image: url("/assets/img/coffeeBackGroundLand.png");
    background-size: cover;
    justify-content: space-evenly;
  }
  .AppTitle {
    margin: -5px -5px 5px -5px;
  }
}
